<!DOCTYPE html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="canonical" href="https://ncstr.xyz/maxwax">
  <link rel="icon" type="image/svg+xml" href="favicon.svg">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="favicon-48x48.png" sizes="48x48">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <meta name="apple-mobile-web-app-title" content="@aencaster">
  <meta name="msapplication-TileColor" content="#fff">
  <meta name="theme-color" content="#fff">
  <meta name="description" content="Это проект «MaxWax» Михаила Воронина, арт-директора и бренд-дизайнера.">
  <meta name="author" content="Michael Voronin">
  <title>MaxWax · @aencaster</title>

  <meta property="og:title" content="MaxWax · @aencaster">
  <meta property="og:description" content="Это проект «MaxWax» Михаила Воронина, арт-директора и бренд-дизайнера.">
  <meta property="og:image" content="https://ncstr.xyz/og-preview.png">
  <meta property="og:image" content="https://ncstr.xyz/og-preview.jpg">
  <meta property="og:url" content="https://ncstr.xyz/maxwax">
  <meta property="og:type" content="website">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://ncstr.xyz/maxwax">
  <meta property="twitter:title" content="MaxWax · @aencaster">
  <meta property="twitter:description" content="Это проект «MaxWax» Михаила Воронина, арт-директора и бренд-дизайнера.">
  <meta property="twitter:image" content="https://ncstr.xyz/og-preview.png">
  <meta property="twitter:image" content="https://ncstr.xyz/og-preview.jpg">

  <link rel="preload" href="woff/NTLucent-Regular.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="woff/NTLucent-SemiBold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="woff/NTLucent-Black.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="woff/NTDisplay.woff2" as="font" crossorigin="anonymous">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <div id="preloader">
    <div id="loader"><span></span><span></span><span></span><span></span></div>
  </div>
    {% include nav.html %}
  <header>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="display-4 disp">MaxWax</h1>
          <p class="headline-subtitle">Коснись деталей</p>
          <ul class="list-unstyled ulp-1">
            <li><a class="link-out" href="https://www.avito.ru/brands/7bf7f8ec2c8452dfe6e25ae7a03bd8cb" target="_blank">Профиль Авито</a></li>
            <li><a class="link-out" href="https://yandex.ru/maps/org/maxwax_deteyling_tsentr/70918321394/" target="_blank">Яндекс Карты</a></li>
          </ul>
        </div>
        <div class="col-md-6 mw-ms">
          <h4>Автомобильный детейлинг</h4>
          <p>
            Центр специализируется на&nbsp;бережной полировке кузова и&nbsp;нанесении защитных покрытий, а&nbsp;также химчистке салона.
            Используется качественная керамика, полиуретановые плёнки и&nbsp;винил для&nbsp;долговременной защиты и&nbsp;улучшения внешнего вида автомобиля.
          </p>
        </div>
      </div>
    </div>
  </header>
  <!-- end: Header -->


  <section class="pt-3">
    <div class="container">

      <figure> <img src="img/maxwax/maxwax-0.webp" alt="" class="img-fluid fw"> </figure>

      <div class="row py-5 my-5">
        <div class="col mx-auto mw-md">
          <h2>Задача</h2>
          <p>
            Владелец центра Максим нанял меня для&nbsp;разработки логотипа и&nbsp;фирменного стиля с&nbsp;целью разграничить профессионализм
            команды в&nbsp;маленьком городе от&nbsp;конкурентов-любителей а&nbsp;также повысить узнаваемость нового бренда.
          </p>
          </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="grid" data-cols="2" data-margin="0" data-height="1.2" data-masonry='{ "columnWidth": 300 }'>

            <figure class="entry"> <img src="img/maxwax/maxwax-ph-1.webp" class="project-grid-image img-fluid"> </figure>
            <figure class="entry"> <img src="img/maxwax/maxwax-stars.png" class="project-grid-image img-fluid"> </figure>
            <figure class="entry"> <img src="img/maxwax/maxwax-price.webp" class="project-grid-image img-fluid"> </figure>
            <figure class="entry"> <img src="img/maxwax/maxwax-hl-1.webp" class="project-grid-image img-fluid"> </figure>

          </div>
        </div>
      </div>

      <div class="row py-5 my-5">
        <div class="col mx-auto mw-md">
          <h2>Решение</h2>
          <h4>Стратегия</h4>
          <p>
            В&nbsp;первую очередь был&nbsp;проведен анализ конкурентов, обозначены цели бренда и&nbsp;отбракованы повторяющиеся приемы.
            Был осуществлен ренейминг, разработаны несколько концепций, отвечающих новой стратегии, выбрана и&nbsp;доработана одна из&nbsp;них.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="grid" data-cols="3" data-margin="0" data-height="1.2" data-masonry='{ "columnWidth": 300 }'>

            <figure class="entry"> <img src="img/maxwax/maxwax-hoodie.webp" class="project-grid-image img-fluid"> </figure>
            <figure class="entry"> <img src="img/maxwax/maxwax-bc.webp" class="project-grid-image img-fluid"> </figure>
            <figure class="entry"> <img src="img/maxwax/maxwax-cap.webp" class="project-grid-image img-fluid"> </figure>

          </div>
        </div>
      </div>

      <div class="row py-5 my-5">
        <div class="col mx-auto mw-md">
          <h4>Айдентика</h4>
          <p>
            Моими силами был создан логотип в&nbsp;нескольких версиях, предложены варианты оформления носителей&nbsp;&mdash; как физических, так и&nbsp;электронных.
            Для поддержания уникальности создан фирменный акцидентный шрифт.
            Был выбран фотостиль, создано оформление соцсетей, сверстаны и&nbsp;оформлены онлайн и&nbsp;оффлайн прайс-листы и&nbsp;другие носители.
          </p>
        </div>
      </div>

    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div id="carousel-1" class="col carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-1" data-slide-to="1"></li>
            <li data-target="#carousel-1" data-slide-to="2"></li>
            <li data-target="#carousel-1" data-slide-to="3"></li>
          </ol>
          <div class="aspect-ratio-box">
            <div class="carousel-inner h-100">
              <div class="carousel-item active">
                <img src="img/maxwax/maxwax-1.webp" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/maxwax/maxwax-2.webp" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/maxwax/maxwax-3.webp" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/maxwax/maxwax-insta.webp" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev link-prev" href="#carousel-1" role="button" data-slide="prev">
              <span class="sr-only">Назад</span>
            </a>
            <a class="carousel-control-next link-next" href="#carousel-1" role="button" data-slide="next">
              <span class="sr-only">Дальше</span>
            </a>
          </div>
        </div>
      </div>
      <figure> <img src="img/maxwax/maxwax-type.webp" alt="" class="img-fluid fw"> </figure>
      <div class="row py-5 my-5">
        <div class="col mx-auto mw-md">
          <h2>Результаты</h2>
          <p>
            Новая айдентика принесла внушительный успех МaxWax на&nbsp;рынке детейлинг-услуг Тульской области. Сегодня это
            запоминающийся центр с&nbsp;отличными оценками и&nbsp;отзывами в&nbsp;интернет-агрегаторах и&nbsp;хорошей маржинальностью.
            Владелец студии осуществил открытие второго филиала в&nbsp;соседнем городе.
          </p>
          </div>
      </div>



      <div class="row">
        <div class="col">
          <div class="grid" data-cols="2" data-margin="0" data-height="1.2" data-masonry='{ "columnWidth": 300 }'>

            <figure class="entry"> <img src="img/maxwax/maxwax-wheel.webp" class="project-grid-image img-fluid"> </figure>
            <figure class="entry"> <img src="img/maxwax/maxwax-badges.webp" class="project-grid-image img-fluid"> </figure>

          </div>
        </div>
      </div>

      <figure> <img src="img/maxwax/maxwax-sticker.webp" alt="" class="img-fluid fw"> </figure>

      <div class="row py-5">
        <div class="col flexin apart">
          <a href="nntt.html" class="link-prev">Предыдущий проект</a>
          <a href="009.html" class="link-next">Следующий проект</a>
        </div>
      </div>
    </div>
  </section>

 {% include footer.html %}

  <!-- /main content -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/jquery/isotope.pkgd.min.js"></script>
  <script src="js/custom.js"></script>
</body>

</html>