<!DOCTYPE html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="canonical" href="https://ncstr.xyz/vault">
  <link rel="icon" type="image/svg+xml" href="favicon.svg">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="favicon-48x48.png" sizes="48x48">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <meta name="apple-mobile-web-app-title" content="@aencaster">
  <meta name="msapplication-TileColor" content="#fff">
  <meta name="theme-color" content="#fff">
  <meta name="description" content="Это малые проекты Михаила Воронина, арт-директора и бренд-дизайнера.">
  <meta name="author" content="Michael Voronin">
  <title>Малые проекты · @aencaster</title>

  <meta property="og:title" content="Малые проекты · @aencaster">
  <meta property="og:description" content="Это малые проекты Михаила Воронина, арт-директора и бренд-дизайнера.">
  <meta property="og:image" content="https://ncstr.xyz/og-preview.png">
  <meta property="og:image" content="https://ncstr.xyz/og-preview.jpg">
  <meta property="og:url" content="https://ncstr.xyz/vault">
  <meta property="og:type" content="website">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://ncstr.xyz/vault">
  <meta property="twitter:title" content="Малые проекты · @aencaster">
  <meta property="twitter:description" content="Это малые проекты Михаила Воронина, арт-директора и бренд-дизайнера.">
  <meta property="twitter:image" content="https://ncstr.xyz/og-preview.png">
  <meta property="twitter:image" content="https://ncstr.xyz/og-preview.jpg">

  <link rel="preload" href="woff/NTLucent-Regular.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="woff/NTLucent-SemiBold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="woff/NTLucent-Black.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="woff/NTDisplay.woff2" as="font" crossorigin="anonymous">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <div id="preloader">
    <div id="loader"><span></span><span></span><span></span><span></span></div>
  </div>
    {% include nav.html %}
  <header>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="display-4 disp">Малые <br>проекты</h1>
          <ul class="list-unstyled ulp-1">
            <li class="headline-subtitle">Когда нужо начать с&nbsp;малого</li>
            <li><a class="link-out" href="https://t.me/aencaster" target="_blank" rel="nofollow">Telegram: @aencaster</a></li>
            <li><a class="link-out" href="mailto:aencaster@gmail.com" rel="nofollow">aencaster@gmail.com</a></li>
          </ul>
        </div>
        <div class="col-md-6 mw-ms">
          <h4>Дизайн-хранилище</h4>
          <p>
            На этой странице представлены работы, которые хочется показать, но они слишком небольшие, чтобы создавать для&nbsp;них
            отдельный кейс. Однако, это&nbsp;не значит, что&nbsp;они менее качественные или&nbsp;менее любимые.
          </p>
          <p><b>Проект наполняется</b></p>
        </div>
      </div>
    </div>
  </header>
  <!-- end: Header -->
  <section class="pt-3">
    <div class="container">

      <figure>
        <img src="img/vault/untitled/untitled-full.webp" alt="Абстрактная чёрно-белая картина из двух полотен" class="img-fluid fw">
        <figcaption class="copy text-center pt-3">Untitled. Михаил Воронин, 2025. 60x180, холст, акрил</figcaption>
      </figure>

      <div class="row py-5 my-5">
        <div class="col mx-auto mw-md">
          <h2>Untitled</h2>
          <p class="headline-subtitle">Мультимедиа арт-объект</p>
          <p>
            Диптих в&nbsp;диалоге&nbsp;&mdash; две чёрные пустоты, пронизанные белым хаосом. Мазки, брызги и&nbsp;штрихи высекают двуязычие
            любви: каллиграфическое изящество сталкивается с&nbsp;криком граффити. Кровоточат фрагменты текста, скрепляя два холста
            в&nbsp;бесконечном танце слияния и&nbsp;разрыва.
          </p>
        </div>
      </div>

      <figure class="mb-0 mx-auto mw-sm">
        <video controls autoplay loop muted playsinline class="img-luid fw" >
          <source src="img/vault/untitled/untitled-25-low.mp4" type="video/mp4">
          <source src="img/vault/untitled/untitled-25-low.webm" type="video/webm">
          Ваш браузер не поддерживает встроенное видео
        </video>
        <figcaption class="copy text-center pt-3">Видео-сопровождение работы для&nbsp;дополненной&nbsp;реальности</figcaption>
      </figure>

      <div class="row py-5 my-5">
        <div class="col mx-auto mw-md">
          <h2 id="takie">Такие Дела</h2>
          <p class="headline-subtitle">Логотип для коротких видео</p>
          <p>
            Это рубрика в&nbsp;блоге <a class="link-out" href="https://instagram.com/molchankagame" target="_blank"
              rel="nofollow">@molchankagame</a> Ани, которая в&nbsp;формате коротких видео рассказывает о&nbsp;рекламе
            и&nbsp;маркетинге просто и&nbsp;увлекательно. Визуальная концепция строится на&nbsp;соединении противоположностей —
            это&nbsp;динамика, игривость, структура и&nbsp;ясность. Такой подход идеально отражает суть: сложные темы
            преподносятся как&nbsp;легкий к&nbsp;восприятию контент. Логотип не&nbsp;только привлекает внимание в&nbsp;ленте,
            но и&nbsp;точно сообщает о&nbsp;ценностях: экспертиза, актуальность и&nbsp;доступность.
          </p>
          <ul class="list-unstyled ulp-1">
            <li><a class="link-out" href="https://instagram.com/molchankagame" target="_blank" rel="nofollow">Instagram: @molchankagame</a></li>
            <li><a class="link-out" href="https://www.contentoagency.ru/" target="_blank" rel="nofollow">Агентство Contento</a></li>
          </ul>
        </div>
      </div>

      <figure class="mb-0 mx-auto">
        <img src="img/vault/takie/takie-hero.webp" alt="Такие Дела логотип" class="img-fluid fw">
      </figure>

      <div class="row">
        <div class="col">
          <div class="grid" data-cols="3" data-margin="0" data-height="1.66" data-masonry='{ "columnWidth": 300 }'>

            <figure class="entry"> <img src="img/vault/takie/takie-thumb-3.webp" class="project-grid-image img-fluid"> </figure>
            <figure class="entry"> <img src="img/vault/takie/takie-thumb-1.webp" class="project-grid-image img-fluid"> </figure>
            <figure class="entry"> <img src="img/vault/takie/takie-thumb-2.webp" class="project-grid-image img-fluid"> </figure>
            <figure class="entry"> <img src="img/vault/takie/takie-thumb-0.webp" class="project-grid-image img-fluid"> </figure>
            <figure class="entry"> <img src="img/vault/takie/takie-thumb-5.webp" class="project-grid-image img-fluid"> </figure>
            <figure class="entry"> <img src="img/vault/takie/takie-thumb-8.webp" class="project-grid-image img-fluid"> </figure>

          </div>
        </div>
      </div>

      <div class="row py-5 my-5">
        <div class="col mx-auto mw-md">
          <h2 id="paula">Paula Coffee</h2>
          <p class="headline-subtitle">Шрифт для specialty-кофейни</p>
          <p>
            Иногда буквы уже&nbsp;есть, и&nbsp;их нужно превратить в&nbsp;шрифт для&nbsp;удобного использования в&nbsp;дизайне.
            С&nbsp;этим и&nbsp;пришла ко&nbsp;мне команда Паулины, сети московских кофеен формата healthy to-go. В&nbsp;сотрудничестве с&nbsp;дизайнером 
            <a class="link-out" href="https://www.behance.net/arseniarkatov">Арсением Аркатовым</a> я&nbsp;создал шрифт на&nbsp;основе существующей графики.
            Символы были заново отрисованы и&nbsp;корректно упакованы в&nbsp;шрифтовой&nbsp;файл.
          </p>
          <ul class="list-unstyled ulp-1">
            <li><a class="link-out" href="https://taplink.cc/paulacoffee" target="_blank" rel="nofollow">Taplink: @paulacoffee</a></li>
            <li><a class="link-out" href="https://t.me/paulacoffee" target="_blank" rel="nofollow">Telegram: @paulacoffee</a></li>
          </ul>
          </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="grid" data-cols="2" data-margin="0" data-height="1" data-masonry='{ "columnWidth": 300 }'>

            <figure class="entry"> <img src="img/vault/paula/paula-1.jpg" class="project-grid-image img-fluid"> </figure>
            <figure class="entry"> <img src="img/vault/paula/paula-2.webp" class="project-grid-image img-fluid"> </figure>
            <figure class="entry"> <img src="img/vault/paula/paula-3.webp" class="project-grid-image img-fluid"> </figure>
            <figure class="entry"> <img src="img/vault/paula/paula-4.jpg" class="project-grid-image img-fluid"> </figure>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="grid" data-cols="2" data-margin="0" data-height="1.33" data-masonry='{ "columnWidth": 300 }'>

            <figure class="entry"> <img src="img/vault/paula/XXXL (6).webp" class="project-grid-image img-fluid"> </figure>
            <figure class="entry"> <img src="img/vault/paula/XXXL (7).webp" class="project-grid-image img-fluid"> </figure>
            <figure class="entry"> <img src="img/vault/paula/XXXL (4).webp" class="project-grid-image img-fluid"> </figure>
            <figure class="entry"> <img src="img/vault/paula/XXXL (5).webp" class="project-grid-image img-fluid"> </figure>

          </div>
        </div>
      </div>

      <div class="row py-5 my-5">
        <div class="col mx-auto mw-md">
          <h2 id="fedanya">Fedanya</h2>
          <p class="headline-subtitle">Леттеринг-монограмма</p>
          <p>
            Авторская монограмма для&nbsp;художницы, объединяющая инициал F и&nbsp;символ сердца. Визуальная метафора отражает 
            творчество как&nbsp;процесс, идущий от&nbsp;сердца, мягкость характера иллюстраций и&nbsp;самой художницы. 
            Элегантный и&nbsp;лаконичный знак разработан для&nbsp;использования в&nbsp;качестве узнаваемой подписи 
            на&nbsp;работах, подчеркивая их&nbsp;уникальность и&nbsp;личную связь с&nbsp;создателем.
          </p>
        </div>
      </div>

      <figure>
        <img src="img/vault/fedanya3-wp.webp" alt="Персик" class="img-fluid fw">
      </figure>

      <!--

      <div class="row py-5 my-5">
        <div class="col mx-auto mw-md">
          <h2 id="olorin">Olorin</h2>
          <p class="headline-subtitle">Стиль для гитарной мастерской</p>
          <p>
            Кстати, явные признаки победы институционализации являются только методом политического участия и подвергнуты целой
            серии независимых исследований. Однозначно, активно развивающиеся страны третьего мира и по сей день остаются уделом
            либералов, которые жаждут быть объявлены нарушающими общечеловеческие нормы этики и морали!
          </p>
        </div>
      </div>

      <div class="row py-5 my-5">
        <div class="col mx-auto mw-md">
          <h2 id="oivse">Oi vse</h2>
          <p class="headline-subtitle">Логотип для канала "Ой, всё"</p>
          <p>
            Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: новая
            модель организационной деятельности предполагает независимые способы реализации переосмысления внешнеэкономических
            политик.
          </p>
        </div>
      </div>

      <div class="row py-5 my-5">
        <div class="col mx-auto mw-md">
          <h2 id="prints">Футболки</h2>
          <p class="headline-subtitle">Принты для одежды и аксессуаров</p>
          <p>
            Как уже неоднократно упомянуто, независимые государства неоднозначны и будут ассоциативно распределены по отраслям.
            Безусловно, высококачественный прототип будущего проекта обеспечивает актуальность экспериментов, поражающих по своей
            масштабности и грандиозности.
          </p>
        </div>
      </div>

    -->

      <div class="row py-5 my-5">
        <div class="col mx-auto mw-md">
          <h2 id="threedee">3D</h2>
          <p class="headline-subtitle">Трехмерные визуализации</p>
          <p>
            Современные технологии достигли такого уровня, что новая модель организационной деятельности, в своём классическом
            представлении, допускает внедрение системы обучения кадров, соответствующей насущным потребностям. Как принято
            считать, ключевые особенности структуры проекта превращены в посмешище, хотя само их существование приносит
            несомненную пользу обществу!
          </p>
        </div>
      </div>

      <figure class="mb-0 mx-auto">
        <img src="img/vault/3d/bwworld.webp" alt="BW World" class="img-fluid fw">
      </figure>
      
      <figure class="mb-0 mx-auto">
        <img src="img/vault/3d/neon.webp" alt="Neon" class="img-fluid fw">
      </figure>

      <figure class="mb-0 mx-auto">
        <img src="img/vault/3d/justdoit-blend.webp" alt="Just Do It WIP" class="img-fluid fw">
      </figure>

      <figure class="mb-0 mx-auto">
        <img src="img/vault/3d/justdoit.webp" alt="Just Do It" class="img-fluid fw">
      </figure>

      <!-- <div class="row py-5 my-5">
        <div class="col mx-auto mw-md">
          <h2 id="zaycev">Zaycev</h2>
          <p class="headline-subtitle">Стиль для музыкального продюсера</p>
          <p>
            Кстати, явные признаки победы институционализации являются только методом политического участия и подвергнуты целой
            серии независимых исследований. Однозначно, активно развивающиеся страны третьего мира и по сей день остаются уделом
            либералов, которые жаждут быть объявлены нарушающими общечеловеческие нормы этики и морали!
          </p>
        </div>
      </div> -->
      





      <div class="row py-5">
        <div class="col flexin apart">
          <a href="alias.html" class="link-prev">Предыдущий проект</a>
          <a href="sangvis.html" class="link-next">Следующий проект</a>
        </div>
      </div>
    </div>
  </section>

 {% include footer.html %}

  <!-- /main content -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/jquery/isotope.pkgd.min.js"></script>
  <script src="js/custom.js"></script>
</body>

</html>