<!-- footer -->
  <footer class="footer pb-5">
    <div class="container">
      <hr class="mb-3">
      <div class="row mt-5">

        <div class="col-md-4">
          <h3>Навигация</h3>
          <ul class="list-unstyled p-0">
            <li><a href="cv.html">CV</a></li>
            <li><a href="/#portfolio">Проекты</a></li>
            <li><a href="now.html">Сейчас</a></li>
            <li><a class="link-top" href="#" id="back-to-top">Наверх</a></li>
          </ul>
        </div>

        <div class="col-md-4">
          <h3>Контакты</h3>
          <ul class="list-unstyled">
            <li><a class="link-out" href="https://t.me/aencaster" target="_blank">Telegram: @aencaster</a></li>
            <li><a class="link-out" href="mailto:aencaster@gmail.com">aencaster@gmail.com</a></li>
          </ul>
        </div>

        <div class="col-md-3">
          <h3>NT Type</h3>
          <ul class="list-unstyled">
            <li><a class="link-out" href="https://nnttttyyppee.cc/" target="_blank">Сайт</a></li>
            <li><a class="link-out" href="https://github.com/nnttttyyppee" target="_blank">GitHub</a></li>
            <li><a class="link-out" href="https://t.me/nnttttyyppee" target="_blank">Telegram</a></li>
            </li>
          </ul>
        </div>
        <div class="col-md-1">
          <a href="clphn.html" class="fleuri">&#10086;</a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="copy">&copy; <span class="gimme-current-year"></span> Михаил Воронин</div>
        </div>
      </div>
    </div>
  </footer>