<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light cstm-navblur bg-white fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand brand-text js-scroll-trigger" href="/">
        <span>N</span>&nbsp;<span>C</span>&nbsp;<span>S</span>&nbsp;<span>T</span>&nbsp;<span>R</span>
      </a><br>
      <button class="navbar-toggler cstm-navtoggle x collapsed" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="toggler-bar bar1"></span><span class="toggler-bar bar2"></span><span class="toggler-bar bar3"></span><span class="toggler-fallback">&equiv;&nbsp;Меню</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="cv.html">CV</a></li>
          <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/">Проекты</a></li>
          <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="now.html">Сейчас</a></li>
        </ul>
      </div>
    </div>
  </nav>